---
import { ChevronDown } from "../components/icons/ChevronDown";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import { Contact } from "../components/Contact";
import { Project } from "../components/Project";
import ProjectPost from "../components/ProjectPost.astro";
import { MY_PROJECTS } from "../constants";
---

<BaseLayout>
  <div
    class="min-h-dvh relative flex flex-col justify-center gap-4 text-[#afafaf]"
    onscroll="()=>console.log('hi')"
  >
    <h1 class="text-6xl md:text-7xl font-nova">Roseny</h1>
    <h2 class="text-3xl md:text-4xl font-overpass-mono font-extralight">
      Frontend Developer
    </h2>
    <div
      class="rounded-full border border-blank p-2 size-12 absolute bottom-8 left-[50%] -translate-x-[50%] animate-bounce hover:border-obscure-dark hover:bg-blank-light hover:text-obscure-dark"
    >
      <ChevronDown />
    </div>
  </div>
  <div class="min-h-dvh flex flex-col justify-center gap-4">
    <h2 class="text-4xl md:text-5xl font-nova">Projects</h2>
    <ul class="flex-1 flex flex-wrap gap-4 items-center justify-center my-4">
      {
        MY_PROJECTS.map((c) => (
          // <ProjectPost
          //   client:idle
          //   nameProject={c.nameProject}
          //   description={c.description}
          //   coverImage={c.coverImage}
          //   urlGitHub={c.urlGitHub}
          //   urlProject={c.urlProject}
          //   collaboration={c.collaboration}
          // />
          <Project
            client:idle
            nameProject={c.nameProject}
            description={c.description}
            coverImage={c.coverImage}
            urlGitHub={c.urlGitHub}
            urlProject={c.urlProject}
            collaboration={c.collaboration}
          />
        ))
      }
    </ul>
  </div>
  <div class="min-h-dvh flex flex-col justify-center items-center gap-20">
    <h2 class="w-full text-start text-4xl md:text-5xl font-nova">Contact</h2>
    <Contact />
  </div>
</BaseLayout>
