---
interface Props {
  urlPost: string;
  title: string;
  author: string;
  description: string;
  date: string;
  coverImage: string;
}

const { urlPost, title, author, description, date, coverImage } = Astro.props;
---

<li
  class="h-[260px] w-[260px] rounded-lg p-4 flex flex-col bg-blank-dark items-center justify-center shadow-md dark:shadow-obscure-light
group/title group/image hover:bg-blank-dark text-obscure-dark dark:text-blank-light dark:hover:bg-obscure-light dark:bg-first-dark/50 md:h-[290px] md:w-[290px] lg:h-[380px] lg:w-[380px] xl:w-[422px] xl:h-[422px]"
>
  <a
    href={urlPost ?? "/blog"}
    class="w-full h-full flex flex-col gap-3 items-center justify-center"
  >
    <header class="w-full flex-1 flex flex-col gap-2 overflow-hidden">
      <h2
        class="text-xl font-bold text-obscure title group-hover/title:text-obscure-light dark:group-hover/title:text-second-light"
      >
        {title}
      </h2>
      <div
        class={`w-full flex-1 rounded-lg bg-contain grayscale image group-hover/image:grayscale-0 `}
      >
        <img
          src={coverImage ?? "./icons/Image"}
          alt={`${title} post image`}
          class="h-full w-full"
        />
      </div>
    </header>
    <main class="w-full h-16 text-sm text-obscure">
      <p class="mb-2 italic flex items-center justify-between text-xs">
        <span>{author}</span>
        <span>{date}</span>
      </p>
      <p class="first-line:indent-5 line-clamp-2 leading-tight">
        {description}
      </p>
    </main>
  </a>
</li>
