---
import { GithubIcon } from './icons/GithubIcon'

interface Props{labelUrlProject:string, urlProject:string, urlGitHub:string, nameProject: string, description:string, coverImage:string}

const {labelUrlProject, urlProject, nameProject, description, urlGitHub, coverImage}= Astro.props
---

<li class="h-[240px] w-[360px] border-2 rounded-lg flex flex-col items-center justify-center  border-first-dark overflow-hidden relative
group/title group/image hover:border-first  text-obscure-dark dark:text-blank-light dark:hover:border-blank 
dark:border-second-dark  dark:bg-first-dark/60 md:h-[240px] md:w-[360px] lg:h-[300px] lg:w-[420px] 
">
<!-- <h2 class="w-full text-xl font-bold text-first-dark dark:text-second-light title bg-blank/60 group-hover/title:text-obscure-light hidden absolute top-0 z-10 dark:group-hover/title:text-second-light group-hover/title:block">{nameProject}</h3> -->
  <!-- <a href={urlProject ?? '/home'} class="w-full h-full flex flex-col gap-3 items-center justify-center"> -->
  <div class={`w-full h-full flex-1 rounded-md   grayscale image group-hover/image:grayscale-0 flex overflow-hidden`}>
    <img src={coverImage ?? './icons/Image'} alt={`${nameProject} screenshot app`} class="h-full w-full object-cover">
    </div>
  <!-- <header class="w-full flex-1 flex flex-col gap-2 overflow-hidden">
    </header> -->
    <main class="w-full text-base px-2 py-1 absolute bottom-0 rounded-b-lg hidden z-10 text-first-light dark:text-blank image group-hover/image:block group-hover/image:bg-obscure-dark/80">
      <div class=" mb-2 flex items-center justify-between">
        
        <p>{nameProject}</p>
        <a href={urlProject}>{labelUrlProject}.com</a>
        <a href={urlGitHub}><GithubIcon/></a>
        <!-- <span>{author}</span> <span>{urlGitHub}</span> -->
      </div>
      <p class="text-sm line-clamp-2">
        {description}
      </p>
    </main>
  </a>
</li>