---
import BaseLayout from "./BaseLayout.astro"

const {frontmatter}=Astro.props
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="flex flex-col items-center gap-4">
    <header class="w-[800px] text-justify">
      <h1 class="text-3xl text-center py-8 text-first dark:text-second">{frontmatter.title}</h1>
      <p class="italic text-center text-second dark:text-first">"{frontmatter.description}"</p>
      <p class="w-full text-obscure/50 text-right py-4 dark:text-blank/50">by <span class="text-neutral-500 italic">{frontmatter.author}</span> on <span class="text-neutral-500 italic">{frontmatter.pubDate.toString().slice(0,10)}</span></p>
      <div class="flex gap-6 items-center">
        {frontmatter.tags.map((c: string)=>(
          <a href={`/tags/${c}/`} class="bg-first text-blank px-2 py-1 rounded-md dark:bg-second dark:text-first">{c}</a>
        ))}
      </div>
    </header>
  <div class="w-[800px]">
    <img src="https://images.pexels.com/photos/26836559/pexels-photo-26836559/free-photo-of-mar-agua-saludar-despedirse.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" class="w-full h-full">
  </div>
  
  <article class="w-[800px]">
  <slot/>
  </article>
  </div>
</BaseLayout>