---
// import { LeftArrow } from "../components/icons/LeftArrow";
// import { UpArrow } from "../components/icons/UpArrow";
// import { peruDateFormatter } from "../utils";
import { Arrow } from "../components/icons/Arrow";
import { ArrowBack } from "../components/icons/ArrowBack";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
// const date = peruDateFormatter.format(new Date(frontmatter.pubDate));
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="w-full flex flex-col items-center gap-10">
    <header class="w-full flex flex-col text-justify gap-2">
      <div class="w-full py-6 flex items-center justify-between gap-4">
        <a
          href="/blog"
          class="p-2 flex gap-2 items-center rounded-lg font-bold text-obscure hover:text-blank hover:bg-obscure-dark dark:text-second dark:hover:text-obscure-dark dark:hover:bg-second-dark"
          title="More blog posts"
        >
          <!-- <LeftArrow />More posts -->
        </a>
      </div>
      <p class="w-full ps-4 text-left italic text-blank-light/80">
        <!-- hello -->
        <!-- {`${frontmatter.date}`} -->
      </p>
      <h2
        class="text-center font-semibold p-3 text-[36px] md:text-[40px] lg:text-[48px]"
      >
        {frontmatter.title}
      </h2>
      <p
        class="py-8 px-6 m-8 italic text-center text-obscure stroke-obscure-dark stroke-2 bg-blank/40 rounded-lg shadow-blank-dark/40 shadow-inner dark:text-second-light dark:bg-obscure/20 dark:shadow-obscure/20"
      >
        <quote>
          {frontmatter.description}
        </quote>
      </p>
      <!-- <div class="flex flex-wrap gap-6 items-center justify-center">
        {
          frontmatter.tags.map((c: string) => (
            <a
              href={`/tags/${c}/`}
              class="bg-violet-900 border-2 text-obscure border-first-dark  dark:text-second dark:border-second px-2 py-1 rounded-md hover:text-second-light hover:bg-first-dark dark:hover:text-obscure dark:hover:bg-second"
            >
              {c}
            </a>
          ))
        }
      </div> -->
    </header>

    <article class="w-full relative text-obscure-dark dark:text-blank-light">
      <slot />
      <p class="w-full py-6 text-second-dark text-base">
        by <span class="text-neutral-500 italic">{frontmatter.author}</span>
      </p>
      <div class="w-full flex items-center justify-between gap-4">
        <a
          href="/blog"
          class="p-2 flex gap-2 items-center rounded-lg font-bold text-blank-light hover:text-second"
          title="More blog posts"
        >
          <ArrowBack />More posts
        </a>
        <a
          href="#body-element"
          class="p-2 flex gap-2 items-center rounded-lg font-bold text-blank-light hover:text-second"
          title="Go to top of post"
        >
          <Arrow className="size-10 -rotate-[135deg]" /> Go to start
        </a>
      </div>
    </article>
  </div>
</BaseLayout>
