---
import { LeftArrow } from "../components/icons/LeftArrow"
import { UpArrow } from "../components/icons/UpArrow"
import BaseLayout from "./BaseLayout.astro"

const {frontmatter}=Astro.props

---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="w-full flex flex-col items-center gap-10 ">
    <header class="w-full flex flex-col text-justify gap-2">
      <div class="w-full py-6 flex items-center justify-between gap-4">
        <a href="/blog" class="p-2 flex gap-2 items-center rounded-lg font-bold text-first-dark hover:text-blank hover:bg-obscure-dark dark:text-second dark:hover:text-obscure-dark dark:hover:bg-second-dark" title="More blog posts">
          <LeftArrow/>More posts</a>
      </div>
      <p class="w-full ps-4 text-left text-obscure-dark/50 italic dark:text-blank-light/80">{frontmatter.pubDate.toString().slice(0,10)}</p>
      <p class="py-8 px-6 m-8 italic text-center text-first-dark stroke-obscure-dark stroke-2 bg-blank/40 rounded-lg shadow-blank-dark/40 shadow-inner dark:text-second-light dark:bg-obscure/20 dark:shadow-obscure/20">
      "{frontmatter.description}"</p>
      <div class="flex flex-wrap gap-6 items-center justify-center">
        {frontmatter.tags.map((c: string)=>(
          <a href={`/tags/${c}/`} class="bg-violet-900 border-2 text-first-dark border-first-dark  dark:text-second dark:border-second px-2 py-1 rounded-md hover:text-second-light hover:bg-first-dark dark:hover:text-first-dark dark:hover:bg-second">{c}</a>
        ))}
      </div>
    </header>

      <article class="w-full relative text-obscure-dark dark:text-blank-light">
        <slot/>
        <p class="w-full py-6 text-obscure/50 text-right dark:text-blank/50">by <span class="text-neutral-500 italic">{frontmatter.author}</span></p>
        <div class="w-full py-10 flex items-center justify-between gap-4">
          <a class="text-4xl p-2 rounded-full absolute right-1 bg-first text-blank-light hover:text-obscure-dark hover:bg-first-light dark:bg-second dark:text-obscure-dark dark:hover:text-blank-light dark:hover:bg-second-dark" href="#body-element" title="Go to top of post"><UpArrow/></a>
          <a href="/blog" class="p-2 flex gap-2 items-center rounded-lg font-bold text-first-dark hover:text-blank hover:bg-obscure-dark dark:text-second dark:hover:text-obscure-dark dark:hover:bg-second-dark" title="More blog posts">
            <LeftArrow/>More posts</a>
          </div>      
      </article>
  </div>
</BaseLayout>